
          <div style="line-height: 35px; font-size: 20px;" *ngIf="isMember==false" class="FollowModule">
            <div>
              <span>The subscription is with DAIx Test Token<br>
                0x5D8B4C2554aeB7e86F387B4d6c00Ac33499Ed01f
                <br>
                <a href="https://mumbai.polygonscan.com/address/0x5D8B4C2554aeB7e86F387B4d6c00Ac33499Ed01f">View on Polygon
                  Scan</a>
              </span>
      
              <p>Your Current Balance :<span style="font-weight:bold;color:var(--twitter)"> {{niceBalance}} </span> </p>
              <div *ngIf="myBalance == 0">
                <p>In order to Start the stream please visit
                  <a href="https://app.superfluid.finance/">Superfluid Dashboard</a> and then:<br>
                  - Ask for test tokens <br>
                  - Wrap your Dai to Daix tolens <br>
                  - Once the transactionis completed, please click to refresh to see your balance
                </p>
              </div>
         
              
            </div>
            <button mat-raised-button color="accent"style="margin-top:30px" (click)="startStream()" >Start DAO</button>
      
      
      
      

        </div>

        <div *ngIf="isMember==true">
          <button mat-raised-button color="accent" style="margin-top:30px" (click)="stopStream()" >Stop Dao Membership</button>
          <br>
          <button mat-raised-button color="accent" style="margin-top:30px" (click)="createProposal()" >Create Proposal</button>
        </div>
        <create-proposal (close)="viewState = 'menu'" *ngIf="viewState == 'create-proposal'"></create-proposal>