
  <div style="text-align:center">
  <h2>💃💃💃   Your FLUID DAO  👏 👏 👏</h2>
  <div style="max-width: 800px; width: 90vw; margin: auto">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab  label="Owner">
        <p style="text-align: center; font-size: 20px">
    
        </p>

        <div
          style="
            margin: 20px 10px;
            text-align: center;
            padding: 20px;
            border: 1px solid rgb(47, 213, 255); ;
          "
        >
          <h3 style="margin: 10px; font-weight: 500">
            <span> Enter Name and Image</span>
        
          </h3>

          <p style="margin: 10px;border-bottom:1px solid grey">
            <input
              style="width: 150px; font-size: 18px; padding: 10px; margin: 5px"
              [formControl]="nameCtrl"
              type="text"
              placeholder="Enter Name"
            />

            <input
              style="width: 250px; font-size: 18px; padding: 10px; margin: 5px"
              [formControl]="imageCtrl"
              type="text"
              placeholder="Enter Image"
            />
 
            <br />
          </p>
   
        </div>
      </mat-tab>
      <mat-tab style="height: fit-content; text-align: left" label="DashBoard">

 
          <div style="line-height: 35px; font-size: 20px;" *ngIf="isMember==false" class="FollowModule">
            <div>
              <span>The subscription is with DAIx Test Token<br>
                0x5D8B4C2554aeB7e86F387B4d6c00Ac33499Ed01f
                <br>
                <a href="https://mumbai.polygonscan.com/address/0x5D8B4C2554aeB7e86F387B4d6c00Ac33499Ed01f">View on Polygon
                  Scan</a>
              </span>
      
              <p>Your Current Balance :<span style="font-weight:bold;color:var(--twitter)"> {{niceBalance}} </span> </p>
              <div *ngIf="myBalance == 0">
                <p>In order to Start the stream please visit
                  <a href="https://app.superfluid.finance/">Superfluid Dashboard</a> and then:<br>
                  - Ask for test tokens <br>
                  - Wrap your Dai to Daix tolens <br>
                  - Once the transactionis completed, please click to refresh to see your balance
                </p>
              </div>
              <h3 style="color:var(--twitter)" class="thirdTitle">
                You have not yet subscribed, please start the stream subscription in order to support the amazing creators so
                they continue producing amazing content
              </h3>
            </div>
            <button mat-raised-button color="accent"style="margin-top:30px" (onClick)="startStream()" >Start Stream</button>
      
      
      
      

        </div>

        <div *ngIf="isMember==true">
          <button mat-raised-button color="accent" style="margin-top:30px" (onClick)="stopStream()" >Stop Stream</button>
        </div>

      </mat-tab>

      <mat-tab style="height: fit-content; text-align: left" label="Active Proposals">
        
      </mat-tab>

    </mat-tab-group>
  </div>
  <div *ngIf="blockchain_status == 'fail-to-connect-network'  ">
    <h2>
      ERROR, check please if a developper node or testnet is available and the
      contract has been compiled and deployed
    </h2>
  </div>
</div>
