<div class="mainContainer">
    <div class="createModal">
      <i  (click)="back()" class="close material-icons">close</i>
      <div class="Title">{{proposal.title}}</div>
      <!-- <div class="ImageWrapper">
        <div class="ImageGroup">
       <img  (click)="fileupload.click()" style="object-fit: cover;" class="Avatar" src="{{ image_src }}" />
  
          <input
            hidden
            type="file"
            (change)="uploadProfile($event)"
            #fileupload
          /> 
 
        </div>
    
      </div> -->
  
 
      <!-- <quill-view    [content]="proposal.content" (onEditorCreated)="editorCreated($event)"  format="text" theme="snow"></quill-view> -->
      <quill-view-html *ngIf="showEditor== true" [content]="proposal.content" theme="snow"></quill-view-html>
      <br>
 
      <div>
      <mat-icon style="margin-right:5px;color: #ff4081;
      cursor: pointer;
      position: relative;
      top: 8px;" (click)="vote(true)">
        thumb_up_alt
       </mat-icon>
       <mat-icon style="margin-left:5px;color: #ff4081;
       cursor: pointer;
       position: relative;
       top: 8px;" (click)="vote(false)">
         thumb_down_alt
        </mat-icon>
      </div>
      <button mat-raised-button color="accent" style="margin-top:30px;" (click)="execute()" 
      >Execute Proposal</button>
    </div>
  </div>

  <div
  *ngIf="show_create_success == true"
  style="
    width: 100vw;
    height: 100vh;
    background-color: rgba(91, 87, 87, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
  "
>
  <app-particles
    style="position: fixed; width: 100%; height: 100%; left: 0; top: 0"
    [shape]="2"
    [moveSpeed]="9"
    [defSize]="20"
    [number]="200"
    [linkingFlag]="false"
    [snowEffect]="true"
  >
  </app-particles>
  <div
    style="
      width: 80%;
      max-width: 500px;
      min-width: 300px;
      background: white;
      border-radius: 5px;
      opacity: 1;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      transform: translateY(calc(50vh - 280px));
      padding: 10px 20px 32px;
    "
  >
    <mat-icon (click)="back()" style="color: red; cursor: pointer"
      >clear</mat-icon
    >
    <h3 style="color:var(--seconday);margin-bottom:10px">Bravo!!!</h3>
    <p style="color:var(--primary)">The Proopsal {{this.proposal.title}}   <span style="color:var(--success)">WAS ACCCEPTED</span></p>

 
  </div>
</div>