<div class="mainContainer">
    <div class="createModal">
      <i  (click)="back()" class="close material-icons">close</i>
      <div class="Title">Create a Proposal</div>
      <!-- <div class="ImageWrapper">
        <div class="ImageGroup">
       <img  (click)="fileupload.click()" style="object-fit: cover;" class="Avatar" src="{{ image_src }}" />
  
          <input
            hidden
            type="file"
            (change)="uploadProfile($event)"
            #fileupload
          /> 
 
        </div>
    
      </div> -->
  
      <div class="GlobalInput">
        <form class="Form" [formGroup]="proposalForm">
          <div class="InputWrapper">
            <input
              type="text"
              matInput
              formControlName="titleCtrl"
              placeholder="Please insert Proposal Title*"
              class="InputWrapper Input"
            />
          </div>
     
        </form>
   
      </div>
      <quill-editor style="min-height: 400px;"  (onContentChanged)="content($event)"></quill-editor> 
        <button mat-raised-button color="accent" style="margin-top:30px;" (click)="createProposal()" 
        >create Proposal</button>
    </div>
  </div>

  
